USE [master]
GO
/****** Object:  Database [Akademik]    Script Date: 17/12/2025 15:28:03 ******/
CREATE DATABASE [Akademik]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Akademik', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Akademik.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Akademik_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Akademik_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Akademik].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Akademik]
GO
/****** Object:  Table [dbo].[DKBS]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKBS](
	[IDDKBS] [int] IDENTITY(1,1) NOT NULL,
	[NRP] [varchar](20) NOT NULL,
	[IDJadwal] [int] NOT NULL,
	[Semester] [int] NULL,
	[TahunAjaran] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDKBS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DokumenAkademik]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DokumenAkademik](
	[IDDokumen] [int] IDENTITY(1,1) NOT NULL,
	[NRP] [varchar](20) NOT NULL,
	[JenisDokumen] [varchar](50) NULL,
	[TanggalUpload] [date] NULL,
	[FilePath] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDokumen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dosen]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dosen](
	[NIP] [varchar](20) NOT NULL,
	[Nama] [varchar](100) NOT NULL,
	[JenisKelamin] [char](1) NULL,
	[Email] [varchar](100) NULL,
	[NoTelepon] [varchar](20) NULL,
	[Semester] [char](2) NULL,
	[IdRole] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JadwalKuliah]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JadwalKuliah](
	[IDJadwal] [int] IDENTITY(1,1) NOT NULL,
	[KodeMK] [varchar](10) NOT NULL,
	[NRP] [varchar](20) NOT NULL,
	[Hari] [varchar](20) NULL,
	[JamMulai] [time](7) NULL,
	[JamSelesai] [time](7) NULL,
	[Ruangan] [varchar](20) NULL,
	[NIP] [varchar](20) NOT NULL,
 CONSTRAINT [PK__JadwalKu__F3D2F6C1144E0C2A] PRIMARY KEY CLUSTERED 
(
	[IDJadwal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mahasiswa]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mahasiswa](
	[NRP] [varchar](20) NOT NULL,
	[Nama] [varchar](100) NOT NULL,
	[JenisKelamin] [char](1) NULL,
	[TanggalLahir] [date] NULL,
	[Alamat] [varchar](255) NULL,
	[NoTelepon] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Jurusan] [varchar](30) NULL,
	[DosenWali] [varchar](50) NULL,
	[PoinPortopolio] [int] NULL,
	[IdRole] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NRP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MataKuliah]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MataKuliah](
	[KodeMK] [varchar](10) NOT NULL,
	[NamaMK] [varchar](100) NOT NULL,
	[SKS] [int] NOT NULL,
	[Semester] [int] NOT NULL,
	[Kelas] [char](2) NOT NULL,
 CONSTRAINT [PK__MataKuli__9695C4C87AFCC933] PRIMARY KEY CLUSTERED 
(
	[KodeMK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nilai]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nilai](
	[IDNilai] [int] IDENTITY(1,1) NOT NULL,
	[NRP] [varchar](20) NOT NULL,
	[KodeMK] [varchar](10) NOT NULL,
	[NilaiTugas] [decimal](5, 2) NULL,
	[NilaiUTS] [decimal](5, 2) NULL,
	[NilaiUAS] [decimal](5, 2) NULL,
	[NilaiAkhir] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNilai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pembayaran]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pembayaran](
	[IdPembayaran] [char](10) NOT NULL,
	[NRP] [varchar](20) NULL,
	[MetodePembayaran] [varchar](20) NULL,
	[TotalTagihan] [money] NULL,
	[StatusPembayaran] [char](10) NULL,
	[TanggalPembayaran] [datetime] NULL,
 CONSTRAINT [PK_Pembayaran] PRIMARY KEY CLUSTERED 
(
	[IdPembayaran] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presensi]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presensi](
	[IDPresensi] [int] IDENTITY(1,1) NOT NULL,
	[NRP] [varchar](20) NOT NULL,
	[IDJadwal] [int] NOT NULL,
	[Tanggal] [date] NULL,
	[StatusKehadiran] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPresensi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] NOT NULL,
	[NamaRole] [varchar](20) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK__UserLogi__536C85E560987714] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DKBS]  WITH CHECK ADD  CONSTRAINT [FK__DKBS__IDJadwal__4222D4EF] FOREIGN KEY([IDJadwal])
REFERENCES [dbo].[JadwalKuliah] ([IDJadwal])
GO
ALTER TABLE [dbo].[DKBS] CHECK CONSTRAINT [FK__DKBS__IDJadwal__4222D4EF]
GO
ALTER TABLE [dbo].[DKBS]  WITH CHECK ADD FOREIGN KEY([NRP])
REFERENCES [dbo].[Mahasiswa] ([NRP])
GO
ALTER TABLE [dbo].[DokumenAkademik]  WITH CHECK ADD FOREIGN KEY([NRP])
REFERENCES [dbo].[Mahasiswa] ([NRP])
GO
ALTER TABLE [dbo].[Dosen]  WITH CHECK ADD  CONSTRAINT [FK_Dosen_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[Dosen] CHECK CONSTRAINT [FK_Dosen_Role]
GO
ALTER TABLE [dbo].[JadwalKuliah]  WITH CHECK ADD  CONSTRAINT [FK__JadwalKul__KodeM__3D5E1FD2] FOREIGN KEY([KodeMK])
REFERENCES [dbo].[MataKuliah] ([KodeMK])
GO
ALTER TABLE [dbo].[JadwalKuliah] CHECK CONSTRAINT [FK__JadwalKul__KodeM__3D5E1FD2]
GO
ALTER TABLE [dbo].[JadwalKuliah]  WITH CHECK ADD  CONSTRAINT [FK_JadwalKuliah_Dosen] FOREIGN KEY([NIP])
REFERENCES [dbo].[Dosen] ([NIP])
GO
ALTER TABLE [dbo].[JadwalKuliah] CHECK CONSTRAINT [FK_JadwalKuliah_Dosen]
GO
ALTER TABLE [dbo].[JadwalKuliah]  WITH CHECK ADD  CONSTRAINT [FK_JadwalKuliah_Mahasiswa] FOREIGN KEY([NRP])
REFERENCES [dbo].[Mahasiswa] ([NRP])
GO
ALTER TABLE [dbo].[JadwalKuliah] CHECK CONSTRAINT [FK_JadwalKuliah_Mahasiswa]
GO
ALTER TABLE [dbo].[Mahasiswa]  WITH CHECK ADD  CONSTRAINT [FK_Mahasiswa_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[Mahasiswa] CHECK CONSTRAINT [FK_Mahasiswa_Role]
GO
ALTER TABLE [dbo].[Nilai]  WITH CHECK ADD  CONSTRAINT [FK__Nilai__KodeMK__45F365D3] FOREIGN KEY([KodeMK])
REFERENCES [dbo].[MataKuliah] ([KodeMK])
GO
ALTER TABLE [dbo].[Nilai] CHECK CONSTRAINT [FK__Nilai__KodeMK__45F365D3]
GO
ALTER TABLE [dbo].[Nilai]  WITH CHECK ADD FOREIGN KEY([NRP])
REFERENCES [dbo].[Mahasiswa] ([NRP])
GO
ALTER TABLE [dbo].[Pembayaran]  WITH CHECK ADD  CONSTRAINT [FK_Pembayaran_Mahasiswa] FOREIGN KEY([NRP])
REFERENCES [dbo].[Mahasiswa] ([NRP])
GO
ALTER TABLE [dbo].[Pembayaran] CHECK CONSTRAINT [FK_Pembayaran_Mahasiswa]
GO
ALTER TABLE [dbo].[Presensi]  WITH CHECK ADD FOREIGN KEY([NRP])
REFERENCES [dbo].[Mahasiswa] ([NRP])
GO
ALTER TABLE [dbo].[Presensi]  WITH CHECK ADD  CONSTRAINT [FK_Presensi_JadwalKuliah] FOREIGN KEY([IDJadwal])
REFERENCES [dbo].[JadwalKuliah] ([IDJadwal])
GO
ALTER TABLE [dbo].[Presensi] CHECK CONSTRAINT [FK_Presensi_JadwalKuliah]
GO
ALTER TABLE [dbo].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK_UserLogin_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[UserLogin] CHECK CONSTRAINT [FK_UserLogin_Role]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDKBS]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteDKBS]
    @IDDKBS INT
AS
BEGIN
    DELETE FROM DKBS
    WHERE IDDKBS = @IDDKBS
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDokumenAkademik]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteDokumenAkademik]
    @IDDokumen INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM DokumenAkademik WHERE IDDokumen = @IDDokumen)
    BEGIN
        RAISERROR ('Dokumen tidak ditemukan', 16, 1)
        RETURN
    END

    DELETE FROM DokumenAkademik
    WHERE IDDokumen = @IDDokumen
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDosen]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteDosen]
    @NIP VARCHAR(20)
AS
BEGIN
    -- Cek apakah dosen dipakai di JadwalKuliah
    IF EXISTS (SELECT 1 FROM JadwalKuliah WHERE NIP = @NIP)
    BEGIN
        RAISERROR ('Dosen masih digunakan di JadwalKuliah', 16, 1)
        RETURN
    END

    DELETE FROM Dosen
    WHERE NIP = @NIP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteJadwalKuliah]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteJadwalKuliah]
    @IDJadwal INT
AS
BEGIN
    -- Cek dipakai di DKBS
    IF EXISTS (SELECT 1 FROM DKBS WHERE IDJadwal = @IDJadwal)
    BEGIN
        RAISERROR ('Jadwal masih digunakan di DKBS', 16, 1)
        RETURN
    END

    DELETE FROM JadwalKuliah
    WHERE IDJadwal = @IDJadwal
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMahasiswa]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteMahasiswa]
    @NRP VARCHAR(20)
AS
BEGIN
    -- Cek apakah masih dipakai di DKBS
    IF EXISTS (SELECT 1 FROM DKBS WHERE NRP = @NRP)
    BEGIN
        RAISERROR ('Mahasiswa masih memiliki data DKBS', 16, 1)
        RETURN
    END

    DELETE FROM Mahasiswa
    WHERE NRP = @NRP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMataKuliah]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteMataKuliah]
    @KodeMK VARCHAR(10)
AS
BEGIN
    -- Cek apakah mata kuliah dipakai di JadwalKuliah
    IF EXISTS (SELECT 1 FROM JadwalKuliah WHERE KodeMK = @KodeMK)
    BEGIN
        RAISERROR ('Mata kuliah masih digunakan di JadwalKuliah', 16, 1)
        RETURN
    END

    DELETE FROM MataKuliah
    WHERE KodeMK = @KodeMK
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteNilai]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteNilai]
    @IDNilai INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Nilai WHERE IDNilai = @IDNilai)
    BEGIN
        RAISERROR ('Data nilai tidak ditemukan', 16, 1)
        RETURN
    END

    DELETE FROM Nilai
    WHERE IDNilai = @IDNilai
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePembayaran]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeletePembayaran]
    @IdPembayaran char(10)
AS
BEGIN
    DELETE FROM Pembayaran
    WHERE IdPembayaran = @IdPembayaran
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePresensi]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeletePresensi]
    @IDPresensi INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Presensi WHERE IDPresensi = @IDPresensi)
    BEGIN
        RAISERROR ('Data presensi tidak ditemukan', 16, 1)
        RETURN
    END

    DELETE FROM Presensi
    WHERE IDPresensi = @IDPresensi
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteRole]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteRole]
    @IdRole INT
AS
BEGIN
    -- Cek apakah masih dipakai Mahasiswa
    IF EXISTS (SELECT 1 FROM Mahasiswa WHERE IdRole = @IdRole)
    BEGIN
        RAISERROR ('Role masih digunakan oleh Mahasiswa', 16, 1)
        RETURN
    END

    DELETE FROM Role
    WHERE IdRole = @IdRole
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDKBS]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertDKBS]
    @NRP VARCHAR(20),
    @IDJadwal INT,
    @Semester INT,
    @TahunAjaran VARCHAR(20)
AS
BEGIN
    INSERT INTO DKBS (NRP, IDJadwal, Semester, TahunAjaran)
    VALUES (@NRP, @IDJadwal, @Semester, @TahunAjaran)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDokumenAkademik]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertDokumenAkademik]
    @NRP VARCHAR(20),
    @JenisDokumen VARCHAR(50),
    @TanggalUpload DATE,
    @FilePath VARCHAR(255)
AS
BEGIN
    -- Validasi NRP harus ada di Mahasiswa
    IF NOT EXISTS (SELECT 1 FROM Mahasiswa WHERE NRP = @NRP)
    BEGIN
        RAISERROR ('NRP tidak terdaftar di tabel Mahasiswa', 16, 1)
        RETURN
    END

    INSERT INTO DokumenAkademik
        (NRP, JenisDokumen, TanggalUpload, FilePath)
    VALUES
        (@NRP, @JenisDokumen, @TanggalUpload, @FilePath)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDosen]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertDosen]
    @NIP VARCHAR(20),
    @Nama VARCHAR(100),
    @JenisKelamin CHAR(1) = NULL,
    @Email VARCHAR(100) = NULL,
    @NoTelepon VARCHAR(20) = NULL,
    @Semester CHAR(2) = NULL,
    @IdRole INT = NULL
AS
BEGIN
    -- Cek NIP sudah ada atau belum
    IF EXISTS (SELECT 1 FROM Dosen WHERE NIP = @NIP)
    BEGIN
        RAISERROR ('NIP sudah terdaftar', 16, 1)
        RETURN
    END

    -- Cek Role jika diisi
    IF @IdRole IS NOT NULL
       AND NOT EXISTS (SELECT 1 FROM Role WHERE IdRole = @IdRole)
    BEGIN
        RAISERROR ('IdRole tidak ditemukan di tabel Role', 16, 1)
        RETURN
    END

    INSERT INTO Dosen
    (
        NIP, Nama, JenisKelamin, Email,
        NoTelepon, Semester, IdRole
    )
    VALUES
    (
        @NIP, @Nama, @JenisKelamin, @Email,
        @NoTelepon, @Semester, @IdRole
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertJadwalKuliah]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertJadwalKuliah]
    @KodeMK VARCHAR(10),
    @NRP VARCHAR(20),
    @Hari VARCHAR(20) = NULL,
    @JamMulai TIME(7) = NULL,
    @JamSelesai TIME(7) = NULL,
    @Ruangan VARCHAR(20) = NULL,
    @NIP VARCHAR(20)
AS
BEGIN
    -- Cek Mata Kuliah
    IF NOT EXISTS (SELECT 1 FROM MataKuliah WHERE KodeMK = @KodeMK)
    BEGIN
        RAISERROR ('KodeMK tidak ditemukan di tabel MataKuliah', 16, 1)
        RETURN
    END

    -- Cek Mahasiswa
    IF NOT EXISTS (SELECT 1 FROM Mahasiswa WHERE NRP = @NRP)
    BEGIN
        RAISERROR ('NRP tidak ditemukan di tabel Mahasiswa', 16, 1)
        RETURN
    END

    -- Cek Dosen
    IF NOT EXISTS (SELECT 1 FROM Dosen WHERE NIP = @NIP)
    BEGIN
        RAISERROR ('NIP tidak ditemukan di tabel Dosen', 16, 1)
        RETURN
    END

    INSERT INTO JadwalKuliah
    (
        KodeMK, NRP, Hari, JamMulai, JamSelesai, Ruangan, NIP
    )
    VALUES
    (
        @KodeMK, @NRP, @Hari, @JamMulai, @JamSelesai, @Ruangan, @NIP
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMahasiswa]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertMahasiswa]
    @NRP VARCHAR(20),
    @Nama VARCHAR(100),
    @JenisKelamin CHAR(1) = NULL,
    @TanggalLahir DATE = NULL,
    @Alamat VARCHAR(255) = NULL,
    @NoTelepon VARCHAR(20) = NULL,
    @Email VARCHAR(100) = NULL,
    @Jurusan VARCHAR(30) = NULL,
    @DosenWali VARCHAR(50) = NULL,
    @PoinPortopolio INT = NULL,
    @IdRole INT = NULL
AS
BEGIN
    -- Cek NRP sudah ada atau belum
    IF EXISTS (SELECT 1 FROM Mahasiswa WHERE NRP = @NRP)
    BEGIN
        RAISERROR ('NRP sudah terdaftar', 16, 1)
        RETURN
    END

    -- Cek Role (jika diisi)
    IF @IdRole IS NOT NULL
       AND NOT EXISTS (SELECT 1 FROM Role WHERE IdRole = @IdRole)
    BEGIN
        RAISERROR ('IdRole tidak ditemukan di tabel Role', 16, 1)
        RETURN
    END

    INSERT INTO Mahasiswa
    (
        NRP, Nama, JenisKelamin, TanggalLahir,
        Alamat, NoTelepon, Email, Jurusan,
        DosenWali, PoinPortopolio, IdRole
    )
    VALUES
    (
        @NRP, @Nama, @JenisKelamin, @TanggalLahir,
        @Alamat, @NoTelepon, @Email, @Jurusan,
        @DosenWali, @PoinPortopolio, @IdRole
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMataKuliah]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertMataKuliah]
    @KodeMK VARCHAR(10),
    @NamaMK VARCHAR(100),
    @SKS INT,
    @Semester INT,
    @Kelas CHAR(2)
AS
BEGIN
    -- Cek KodeMK sudah ada atau belum
    IF EXISTS (SELECT 1 FROM MataKuliah WHERE KodeMK = @KodeMK)
    BEGIN
        RAISERROR ('KodeMK sudah terdaftar', 16, 1)
        RETURN
    END

    INSERT INTO MataKuliah
    (
        KodeMK, NamaMK, SKS, Semester, Kelas
    )
    VALUES
    (
        @KodeMK, @NamaMK, @SKS, @Semester, @Kelas
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertNilai]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertNilai]
    @NRP VARCHAR(20),
    @KodeMK VARCHAR(10),
    @NilaiTugas DECIMAL(5,2),
    @NilaiUTS DECIMAL(5,2),
    @NilaiUAS DECIMAL(5,2)
AS
BEGIN
    -- Validasi Mahasiswa
    IF NOT EXISTS (SELECT 1 FROM Mahasiswa WHERE NRP = @NRP)
    BEGIN
        RAISERROR ('NRP tidak terdaftar', 16, 1)
        RETURN
    END

    -- Validasi Mata Kuliah
    IF NOT EXISTS (SELECT 1 FROM MataKuliah WHERE KodeMK = @KodeMK)
    BEGIN
        RAISERROR ('KodeMK tidak terdaftar', 16, 1)
        RETURN
    END

    -- Cegah duplikasi nilai untuk mahasiswa & mata kuliah yang sama
    IF EXISTS (
        SELECT 1 FROM Nilai
        WHERE NRP = @NRP AND KodeMK = @KodeMK
    )
    BEGIN
        RAISERROR ('Nilai untuk mahasiswa dan mata kuliah ini sudah ada', 16, 1)
        RETURN
    END

    DECLARE @NilaiAkhir DECIMAL(5,2)

    SET @NilaiAkhir =
        (@NilaiTugas * 0.30) +
        (@NilaiUTS * 0.30) +
        (@NilaiUAS * 0.40)

    INSERT INTO Nilai
        (NRP, KodeMK, NilaiTugas, NilaiUTS, NilaiUAS, NilaiAkhir)
    VALUES
        (@NRP, @KodeMK, @NilaiTugas, @NilaiUTS, @NilaiUAS, @NilaiAkhir)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPembayaran]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertPembayaran]
    @IdPembayaran char(10),
    @NRP varchar(20),
    @MetodePembayaran varchar(20),
    @TotalTagihan money,
    @StatusPembayaran char(10)
AS
BEGIN
    INSERT INTO Pembayaran
        (IdPembayaran, NRP, MetodePembayaran,
         TotalTagihan, StatusPembayaran, TanggalPembayaran)
    VALUES
        (@IdPembayaran, @NRP, @MetodePembayaran,
         @TotalTagihan, @StatusPembayaran, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPresensi]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertPresensi]
    @NRP VARCHAR(20),
    @IDJadwal INT,
    @Tanggal DATE,
    @StatusKehadiran VARCHAR(20)
AS
BEGIN
    -- Validasi Mahasiswa
    IF NOT EXISTS (SELECT 1 FROM Mahasiswa WHERE NRP = @NRP)
    BEGIN
        RAISERROR ('NRP tidak terdaftar', 16, 1)
        RETURN
    END

    -- Validasi Jadwal
    IF NOT EXISTS (SELECT 1 FROM JadwalKuliah WHERE IDJadwal = @IDJadwal)
    BEGIN
        RAISERROR ('IDJadwal tidak terdaftar', 16, 1)
        RETURN
    END

    -- Cegah presensi ganda (hari & jadwal sama)
    IF EXISTS (
        SELECT 1 FROM Presensi
        WHERE
            NRP = @NRP
            AND IDJadwal = @IDJadwal
            AND Tanggal = @Tanggal
    )
    BEGIN
        RAISERROR ('Presensi untuk tanggal ini sudah ada', 16, 1)
        RETURN
    END

    INSERT INTO Presensi
        (NRP, IDJadwal, Tanggal, StatusKehadiran)
    VALUES
        (@NRP, @IDJadwal, @Tanggal, @StatusKehadiran)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertRole]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertRole]
    @IdRole INT,
    @NamaRole VARCHAR(20)
AS
BEGIN
    -- Cek IdRole sudah ada atau belum
    IF EXISTS (SELECT 1 FROM Role WHERE IdRole = @IdRole)
    BEGIN
        RAISERROR ('IdRole sudah terdaftar', 16, 1)
        RETURN
    END

    INSERT INTO Role (IdRole, NamaRole)
    VALUES (@IdRole, @NamaRole)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LogUserLogin]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LogUserLogin]
    @Username VARCHAR(50),
    @Password VARCHAR(100),
    @IdRole INT
AS
BEGIN
    -- Validasi Role
    IF NOT EXISTS (SELECT 1 FROM Role WHERE IdRole = @IdRole)
    BEGIN
        RAISERROR ('IdRole tidak valid', 16, 1)
        RETURN
    END

    INSERT INTO UserLogin
        (Username, Password, IdRole)
    VALUES
        (@Username, @Password, @IdRole)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDKBS]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateDKBS]
    @IDDKBS int,
    @Semester int,
    @TahunAjaran varchar(10)
AS
BEGIN
    UPDATE DKBS
    SET 
        Semester = @Semester,
        TahunAjaran = @TahunAjaran
    WHERE IDDKBS = @IDDKBS
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDokumenAkademik]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateDokumenAkademik]
    @IDDokumen INT,
    @JenisDokumen VARCHAR(50),
    @TanggalUpload DATE,
    @FilePath VARCHAR(255)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM DokumenAkademik WHERE IDDokumen = @IDDokumen)
    BEGIN
        RAISERROR ('Dokumen tidak ditemukan', 16, 1)
        RETURN
    END

    UPDATE DokumenAkademik
    SET
        JenisDokumen = @JenisDokumen,
        TanggalUpload = @TanggalUpload,
        FilePath = @FilePath
    WHERE IDDokumen = @IDDokumen
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDosen]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateDosen]
    @NIP VARCHAR(20),
    @Nama VARCHAR(100),
    @JenisKelamin CHAR(1) = NULL,
    @Email VARCHAR(100) = NULL,
    @NoTelepon VARCHAR(20) = NULL,
    @Semester CHAR(2) = NULL,
    @IdRole INT = NULL
AS
BEGIN
    -- Cek Dosen ada atau tidak
    IF NOT EXISTS (SELECT 1 FROM Dosen WHERE NIP = @NIP)
    BEGIN
        RAISERROR ('NIP tidak ditemukan', 16, 1)
        RETURN
    END

    -- Cek Role jika diubah
    IF @IdRole IS NOT NULL
       AND NOT EXISTS (SELECT 1 FROM Role WHERE IdRole = @IdRole)
    BEGIN
        RAISERROR ('IdRole tidak valid', 16, 1)
        RETURN
    END

    UPDATE Dosen
    SET
        Nama = @Nama,
        JenisKelamin = @JenisKelamin,
        Email = @Email,
        NoTelepon = @NoTelepon,
        Semester = @Semester,
        IdRole = @IdRole
    WHERE NIP = @NIP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateJadwalKuliah]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateJadwalKuliah]
    @IDJadwal INT,
    @KodeMK VARCHAR(10),
    @NRP VARCHAR(20),
    @Hari VARCHAR(20) = NULL,
    @JamMulai TIME(7) = NULL,
    @JamSelesai TIME(7) = NULL,
    @Ruangan VARCHAR(20) = NULL,
    @NIP VARCHAR(20)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM JadwalKuliah WHERE IDJadwal = @IDJadwal)
    BEGIN
        RAISERROR ('IDJadwal tidak ditemukan', 16, 1)
        RETURN
    END

    IF NOT EXISTS (SELECT 1 FROM MataKuliah WHERE KodeMK = @KodeMK)
    BEGIN
        RAISERROR ('KodeMK tidak valid', 16, 1)
        RETURN
    END

    IF NOT EXISTS (SELECT 1 FROM Mahasiswa WHERE NRP = @NRP)
    BEGIN
        RAISERROR ('NRP tidak valid', 16, 1)
        RETURN
    END

    IF NOT EXISTS (SELECT 1 FROM Dosen WHERE NIP = @NIP)
    BEGIN
        RAISERROR ('NIP tidak valid', 16, 1)
        RETURN
    END

    UPDATE JadwalKuliah
    SET
        KodeMK = @KodeMK,
        NRP = @NRP,
        Hari = @Hari,
        JamMulai = @JamMulai,
        JamSelesai = @JamSelesai,
        Ruangan = @Ruangan,
        NIP = @NIP
    WHERE IDJadwal = @IDJadwal
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMahasiswa]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateMahasiswa]
    @NRP VARCHAR(20),
    @Nama VARCHAR(100),
    @JenisKelamin CHAR(1) = NULL,
    @TanggalLahir DATE = NULL,
    @Alamat VARCHAR(255) = NULL,
    @NoTelepon VARCHAR(20) = NULL,
    @Email VARCHAR(100) = NULL,
    @Jurusan VARCHAR(30) = NULL,
    @DosenWali VARCHAR(50) = NULL,
    @PoinPortopolio INT = NULL,
    @IdRole INT = NULL
AS
BEGIN
    -- Cek Mahasiswa ada atau tidak
    IF NOT EXISTS (SELECT 1 FROM Mahasiswa WHERE NRP = @NRP)
    BEGIN
        RAISERROR ('NRP tidak ditemukan', 16, 1)
        RETURN
    END

    -- Cek Role (jika diisi)
    IF @IdRole IS NOT NULL
       AND NOT EXISTS (SELECT 1 FROM Role WHERE IdRole = @IdRole)
    BEGIN
        RAISERROR ('IdRole tidak valid', 16, 1)
        RETURN
    END

    UPDATE Mahasiswa
    SET
        Nama = @Nama,
        JenisKelamin = @JenisKelamin,
        TanggalLahir = @TanggalLahir,
        Alamat = @Alamat,
        NoTelepon = @NoTelepon,
        Email = @Email,
        Jurusan = @Jurusan,
        DosenWali = @DosenWali,
        PoinPortopolio = @PoinPortopolio,
        IdRole = @IdRole
    WHERE NRP = @NRP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMataKuliah]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateMataKuliah]
    @KodeMK VARCHAR(10),
    @NamaMK VARCHAR(100),
    @SKS INT,
    @Semester INT,
    @Kelas CHAR(2)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM MataKuliah WHERE KodeMK = @KodeMK)
    BEGIN
        RAISERROR ('KodeMK tidak ditemukan', 16, 1)
        RETURN
    END

    UPDATE MataKuliah
    SET
        NamaMK = @NamaMK,
        SKS = @SKS,
        Semester = @Semester,
        Kelas = @Kelas
    WHERE KodeMK = @KodeMK
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateNilai]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateNilai]
    @IDNilai INT,
    @NilaiTugas DECIMAL(5,2),
    @NilaiUTS DECIMAL(5,2),
    @NilaiUAS DECIMAL(5,2)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Nilai WHERE IDNilai = @IDNilai)
    BEGIN
        RAISERROR ('Data nilai tidak ditemukan', 16, 1)
        RETURN
    END

    DECLARE @NilaiAkhir DECIMAL(5,2)

    SET @NilaiAkhir =
        (@NilaiTugas * 0.30) +
        (@NilaiUTS * 0.30) +
        (@NilaiUAS * 0.40)

    UPDATE Nilai
    SET
        NilaiTugas = @NilaiTugas,
        NilaiUTS = @NilaiUTS,
        NilaiUAS = @NilaiUAS,
        NilaiAkhir = @NilaiAkhir
    WHERE IDNilai = @IDNilai
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePembayaran]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePembayaran]
    @IdPembayaran char(10),
    @MetodePembayaran varchar(20),
    @StatusPembayaran char(10)
AS
BEGIN
    UPDATE Pembayaran
    SET 
        MetodePembayaran = @MetodePembayaran,
        StatusPembayaran = @StatusPembayaran,
        TanggalPembayaran = GETDATE()
    WHERE IdPembayaran = @IdPembayaran
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePresensi]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePresensi]
    @IDPresensi INT,
    @StatusKehadiran VARCHAR(20)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Presensi WHERE IDPresensi = @IDPresensi)
    BEGIN
        RAISERROR ('Data presensi tidak ditemukan', 16, 1)
        RETURN
    END

    UPDATE Presensi
    SET StatusKehadiran = @StatusKehadiran
    WHERE IDPresensi = @IDPresensi
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRole]    Script Date: 17/12/2025 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateRole]
    @IdRole INT,
    @NamaRole VARCHAR(20)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Role WHERE IdRole = @IdRole)
    BEGIN
        RAISERROR ('IdRole tidak ditemukan', 16, 1)
        RETURN
    END

    UPDATE Role
    SET NamaRole = @NamaRole
    WHERE IdRole = @IdRole
END
GO
USE [master]
GO
